{% load staticfiles %}
{% load bootstrap3 %}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}Jeta - Java metacode generating framework{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/png" href="{% static 'images/jeta-favicon.png' %}"/>

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/website.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}">
        {% bootstrap_css %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <div class="content panel panel-default">
            <div class="panel-heading">
                <a href="/">
                    {% if "androjeta" not in request.path %}
                        <img src="{% static 'images/jeta_short.png' %}" width="64"/>
                    {% else %}
                        <img src="{% static 'images/androjeta.png' %}" height="37"/>
                    {% endif %}
                </a>

                <span style="float:right">
                    <a href="/guide" type="button" class="btn btn-link">USER'S GUIDE</a>
                    {% if "androjeta" not in request.path %}
                        <a href="https://github.com/brooth/jeta" type="button" class="btn btn-link">SOURCE CODE</a>
                        <a href="https://github.com/brooth/jeta-samples" type="button" class="btn btn-link">SAMPLES</a>
                    {% else %}
                        <a href="https://github.com/brooth/androjeta" type="button" class="btn btn-link">SOURCE CODE</a>
                    {% endif %}
                    <button type="button" class="btn btn-link">CONTACT</button>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> DONATE
                    </button>
                </span>
            </div>

            <table width="100%">
                <tr valign="top">
                    <td>
                        <div class="panel-body">
                            {% bootstrap_messages %}
                            {% block content %}{% endblock %}
                        </div>
                    </td>
                    <td width="1px" bgcolor="#ddd"/>
                    <td width="230px" style="padding: 16px">
                        <h4>How it works:</h4>
                        <ul style="font-size:11pt; padding-left: 20px;">
                            <li><a href="/guide/code-generating">Code generating</a></li>
                            <li><a href="/guide/at-runtime">At Runtime</a></li>
                            <li><a href="/guide/meta-helper">Meta Helper</a></li>
                        </ul>
                        <h4>User's Guide:</h4>
                        <ul style="font-size:11pt; padding-left: 20px;">
                            <li><a href="/guide/install">Installation</a></li>
                            <li><a href="/guide/config">Configuration</a></li>
                            <li><a href="/guide/logger">Logger provider</a></li>
                            <li><a href="/guide/inject">Dependecy Injection</a></li>
                            <li><a href="/guide/observer">Observer</a></li>
                            <li><a href="/guide/event-bus">Event bus</a></li>
                            <li><a href="/guide/collector">Collectors</a></li>
                            <li><a href="/guide/implementation">Implementation</a></li>
                            <li><a href="/guide/validator">Validators</a></li>
                            <li><a href="/guide/proxy">Proxy</a></li>
                            <li><a href="/guide/singleton">Singleton and Multiton</a></li>
                        </ul>
                        <h4>Androjeta</h4>
                        <ul style="font-size:11pt; padding-left: 20px;">
                            <li><a href="/guide/androjeta/overview">Overview</a></li>
                            <li><a href="/guide/androjeta/install">Installation</a></li>
                            <li><a href="/guide/androjeta/config">Configuration</a></li>
                            <li><a href="/guide/androjeta/findviews">Find views</a></li>
                            <li><a href="/guide/androjeta/retain">Retain</a></li>
                            <li><a href="/guide/androjeta/clicks">On clicks</a></li>
                        </ul>
                        <h4>Advanced</h4>
                        <ul style="font-size:11pt; padding-left: 20px;">
                            <li><a href="/guide/multi-modules">Mutli-Modules projects</a></li>
                            <li><a href="/guide/customize">Customize Jeta</a></li>
                            <li><a href="/guide/custom-processor">Custom Processor</a></li>
                            <li><a href="/guide/custom-metasitory">Custom Metasitory</a></li>
                            <li><a href="/guide/extending">Extending Jeta</a></li>
                        </ul>

                        <table style="margin-top: 20px;">
                            <tr>
                                <td style="padding: 3px;">
                                    <span class="label label-success">Stable version: 1.0</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 3px;">
                                    <span class="label label-info">Available on Java 1.7+</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/website.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-1.12.2.min.js' %}"></script>
        {% bootstrap_javascript %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        {% if "androjeta" not in request.path %}
            <a href="https://github.com/brooth/jeta">
                <img style="position: absolute; top: 0; right: 0; border: 0;"
                    src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
                    alt="Fork me on GitHub"
                    data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
            </a>
        {% else %}
            <a href="https://github.com/brooth/androjeta">
                <img style="position: absolute; top: 0; right: 0; border: 0;"
                    src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67"
                    alt="Fork me on GitHub"
                    data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
            </a>
        {% endif %}
    </body>
</html>
